# Node modules
node_modules/

# Environment variables
.env

*.tldr
# Logs
logs/
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# OS/system files
.DS_Store
Thumbs.db

# Runtime data
pids/
*.pid
*.seed
*.pid.lock

# Coverage reports
coverage/

# Build output
dist/
build/

# IDE/editor folders
.vscode/
.idea/

# Optional: ignore test output
test-output/
